# temporary file used to make commits.
git_commit.sh
# temporary file for all purposes
junk
junk.*
# cmake confiuration files
include/cppad/mixed/configure.hpp
# web version of documentation directory
doc.tgz
# directories that are automatically created
build
doc
# directories that are used for stashing files
new
new.*
# vim swap files
*.swp
# log files
*.log
