# temporary file used to make commits
/git_commit.sh
#
# cmake configuration files that is put in source directory
/include/cppad/mixed/configure.hpp
/include/cppad/mixed/include_cholmod.hpp
#
# Directory where builds take place. Note that /build is a link, hence
# it looks to git like a file instead of a directory.
/build
/bug/build/
#
# a previous release build that /build can point to
/build.release/
#
# a previous debug build that /build can point to
/build.debug/
#
# directory where documentation is built
/doc/
#
# directories that are used for stashing files
new/
new.*/
#
# vim swap files
*.swp
#
# log files
*.log
#
# temporary file for many purposes
junk
junk.*
